.create{
    padding-top: 80px;
    background-color: #6D86A7;
    color: #ffffff;
    min-height: 1000px;
    font-family: Montserrat;
    font-size: 24px;

    h2{
        font-family: Kufam;
        font-size: 40px;
        padding-top: 30px;
        text-align: center;
    }

     &__input{
        width: 60%;
        margin: auto;
        padding-top: 20px;
    }

    input{
        border: none;
        margin: 0px 0 25px 5px;
        height: 50px;
        padding: 5px;
        width: 100%;
        box-shadow: 1px 1px 4px rgb(72, 72, 72);

    }

    span.error{
        color: #FF0000;
        font-size: 18px;
    }

     &__button{
        text-align: center;

        input[type="submit"]{
            background-color: #61C0FF;
            color: #ffffff;
            width: 20%;

            &:hover{
                background-color: #2D2E83;
            }
        }
    }
}