.homeAdmin{
    padding-top: 80px;
    background-color: #6D86A7;
    color: #ffffff;
    min-height: 1000px;
    font-family: Montserrat;
    font-size: 24px;

    h2{
        font-family: Kufam;
        font-size: 40px;
        padding-top: 30px;
        text-align: center;
    }
    
    &__login{
        width: 60%;
        margin: auto;
        padding-top: 20px;

        label{
            padding-top: 20px;
        }

    }

    input{
        border: none;
        height: 50px;
        padding: 5px;
        width: 100%;
        box-shadow: 1px 1px 4px rgb(72, 72, 72);
    }

    &__error{
        color: #FCD255;
        text-align: center;
    }

     &__button{
        padding-top: 30px;
        text-align: center;

        input[type="button"]{
            background-color: #61C0FF;
            color: #ffffff;
            width: 20%;

            &:hover{
                background-color: #2D2E83;
            }
        }
    }
}