.illustration{
    margin: 0;
    padding: 0;
    background-color: #6D86A7;
    background-image: url(../assets/images/bergen_illustration.png);
    background-position: bottom;
    background-repeat: repeat-x;
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 1px;
}