.navigation{
    height: 80px;
}

.nav{
    background-color: #A9D2EA;
    height: 70px;
    position: fixed;
    width: 100%;
    padding: 0;

    &__brand{
        padding: 0;
    }

    h1{
        display: none;
    }

    img{
        padding-left: 3vw;
        height: 50px;
    }

    &__navlink:hover{
        text-decoration: none;
    }

    span.navcol{
        color: #2D2E83;
        font-size: 25px;
        padding: 0 30px 0 30px;
        font-family: Montserrat;

        &:hover{
            color: #ffffff;
        }

        &:active{
            text-decoration: underline;
        }            

    }
}
