.specific{
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background-color: #6D86A7;
    color: #ffffff;
    min-height: calc( 90vh );
    font-family: Montserrat;
    font-size: 24px;
    text-align: center;
    padding-bottom: 30px;

    h2{
        font-family: Kufam;
        font-size: 40px;
        padding-top: 30px;
    }

    &__info{
        padding: 50px 0;
        font-size: 27px;
        display: column;
    }

    &__image{

        img{
            height: 600px;
            padding-bottom: 20px;
        }
    }

    &__text{
        padding: 0 40px;
    }

    &__description{
        padding-bottom: 30px;
    }

    &__button{

        button{
            background-color: #61C0FF;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            box-shadow: 1px 1px 4px rgb(72, 72, 72);

            &:hover{
                background-color: #2D2E83;
            }
        }

    }
}

@media (max-width: 1200px){
    .specific{
        img{
            height: 400px;
        }
    }
}

@media (max-width: 900px){
    .specific{
        img{
            height: 300px;
        }
    }
}

@media (max-width: 650px){
    .specific{
        img{
            height: 250px;
        }
    }
}

@media (max-width: 490px){
    .specific{
        img{
            height: 200px;
        }
    }
}