.enquiry{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.276);
    pointer-events: none;
    
    &__box{
        pointer-events: visible;
        position: absolute;
        top: 400px;
        left: 50%;
        width: 50%;
        transform: translate(-50%,-50%);
        background-color: #6D86A7;
        box-shadow: 1px 1px 4px rgb(72, 72, 72);
        padding: 40px;

        input[type="button"]{
            background-color: #2D2E83;
            color: #ffffff;
            border: none;
            font-size: 15px;
            box-shadow: 1px 1px 4px rgb(72, 72, 72);
            float: right;

            &:hover{
                color: #61C0FF;
            }
        }
        
        h2{
            font-family: Kufam;
            font-size: 40px;
            padding-top: 30px;
            text-align: center;
        }

        .sentSuccess{
            font-size: 25px;
            color: #61C0FF;
            width: 100%;
            text-align: center;
        }

        form{
            width: 100%;
            text-align: center;

            input[type="text"]{
                display: block;
                width: 100%;
                height: 60px;
                margin: 30px 0 0 0;
                box-shadow: 1px 1px 4px rgb(72, 72, 72);
            }

            span.error{
                color: #FCD255;
                font-size: 18px;
                margin: 0;
                p{
                    margin: 0;
                    padding: 0;
                }
            }

            input[type="date"]{
                display: inline-block;
                width: 50%;
                height: 60px;
                padding: 0 10px;
                margin-top: 30px;
                box-shadow: 1px 1px 4px rgb(72, 72, 72);
            }

            input[type="submit"]{
                background-color: #61C0FF;
                color: #ffffff;
                margin-top: 60px;
                height: 55px;
                width: 100px;
                border: none;
                box-shadow: 1px 1px 4px rgb(72, 72, 72);


                &:hover{
                    background-color: #2D2E83;
                }
            }
        }
    }
}


@media (max-width: 1380px){
    .enquiry{
        &__box{
            width: 90%;
            top: 450px;
        }
    }
}
@media (max-width: 500px){
    .enquiry{
        &__box{
            width: 95%;
        }
    }
}