.specific{
    margin: 0;
    padding: 0;
    padding-top: 80px;
    background-color: #6D86A7;
    color: #ffffff;
    min-height: calc( 90vh );
    font-family: Montserrat;
    font-size: 24px;

    h2{
        font-family: Kufam;
        font-size: 40px;
        padding-top: 30px;
        text-align: center;
    }

    &__info{
        padding: 50px;
        font-size: 27px;
        display: column;
    }

    &__image{
        text-align: center;

        img{
            height: 600px;
            padding-bottom: 20px;
        }
    }

    &__text{
        padding: 0 40px;
    }

    &__description{
        padding-bottom: 30px;
    }

    &__price{
        text-align: center;
    }

    &__maxGuests{
        text-align: center;
    }

    &__address{
        text-align: center;
    }

    &__button{
        text-align: center;

        button{
            background-color: #61C0FF;
            color: #ffffff;
            border: none;
            width: 110px;
            padding: 5px;
            box-shadow: 1px 1px 4px rgb(72, 72, 72);


            &:hover{
                background-color: #2D2E83;
            }
        }

    }
}

@media (max-width: 900px){
    .specific{
        img{
            height: 400px;
        }
    }
}

@media (max-width: 650px){
    .specific{
        img{
            height: 300px;
        }
    }
}

@media (max-width: 490px){
    .specific{
        img{
            height: 250px;
        }
    }
}